@page "/"
@inject HttpClient Http

<PageTitle>Catandomizer</PageTitle>

<p>Build a random (valid) layout for Catan.</p>
<p>
  <input placeholder="Layout Id" @bind="Id" />
  <button @onclick="GetRandomizedLayout">Recalculate</button>
  <button @onclick="GetBeginnderLayout">Beginner Layout</button>
</p>

@if (boardState is null || boardState.LandSpaces is null || boardSpaces is null || harborSpaces is null)
{
  <p><em>Loading...</em></p>
}
else
{
  <div style="position: relative; height: 900px; width: 820px">
    <div style="position:relative; top: 0px; left: 304.5px">
      <div style="position: absolute; left: 0px"><HarborTile Harbor="harborSpaces[9]" /></div>
    </div>

    <div style="position:relative; top: 58.5px; left: 203.5px">
      <div style="position: absolute; left: 0px"><HarborTile Harbor="harborSpaces[10]" /></div>
      <div style="position: absolute; left: 203px"><HarborTile Harbor="harborSpaces[8]" /></div>
    </div>

    <div style="position:relative; top: 117px; left: 101.5px">
      <div style="position: absolute; left: 0px"><HarborTile Harbor="harborSpaces[11]" /></div>
      <div style="position: absolute; left: 203px"><BoardTile Space="boardSpaces[6]" /></div>
      <div style="position: absolute; left: 406px"><HarborTile Harbor="harborSpaces[7]" /></div>
    </div>

    <div style="position:relative; top: 175.5px; left: 0px">
      <div style="position: absolute; left: 0px"><HarborTile Harbor="harborSpaces[12]" /></div>
      <div style="position: absolute; left: 203px"><BoardTile Space="boardSpaces[7]" /></div>
      <div style="position: absolute; left: 406px"><BoardTile Space="boardSpaces[5]" /></div>
      <div style="position: absolute; left: 608px"><HarborTile Harbor="harborSpaces[6]" /></div>
    </div>

    <div style="position:relative; top: 234px; left: 101.5px">
      <div style="position: absolute; left: 0px"><BoardTile Space="boardSpaces[8]" /></div>
      <div style="position: absolute; left: 203px"><BoardTile Space="boardSpaces[15]" /></div>
      <div style="position: absolute; left: 406px"><BoardTile Space="boardSpaces[4]" /></div>
    </div>

    <div style="position:relative; top: 292.5px; left: 0px">
      <div style="position: absolute; left: 0px"><HarborTile Harbor="harborSpaces[13]" /></div>
      <div style="position: absolute; left: 203px"><BoardTile Space="boardSpaces[16]" /></div>
      <div style="position: absolute; left: 406px"><BoardTile Space="boardSpaces[14]" /></div>
      <div style="position: absolute; left: 608px"><HarborTile Harbor="harborSpaces[5]" /></div>
    </div>

    <div style="position:relative; top: 351px; left: 101.5px">
      <div style="position: absolute; left: 0px"><BoardTile Space="boardSpaces[9]" /></div>
      <div style="position: absolute; left: 203px"><BoardTile Space="boardSpaces[18]" /></div>
      <div style="position: absolute; left: 406px"><BoardTile Space="boardSpaces[3]" /></div>
    </div>

    <div style="position:relative; top: 409.5px; left: 0px">
      <div style="position: absolute; left: 0px"><HarborTile Harbor="harborSpaces[14]" /></div>
      <div style="position: absolute; left: 203px"><BoardTile Space="boardSpaces[17]" /></div>
      <div style="position: absolute; left: 406px"><BoardTile Space="boardSpaces[13]" /></div>
      <div style="position: absolute; left: 608px"><HarborTile Harbor="harborSpaces[4]" /></div>
    </div>

    <div style="position:relative; top: 468px; left: 101.5px">
      <div style="position: absolute; left: 0px"><BoardTile Space="boardSpaces[10]" /></div>
      <div style="position: absolute; left: 203px"><BoardTile Space="boardSpaces[12]" /></div>
      <div style="position: absolute; left: 406px"><BoardTile Space="boardSpaces[2]" /></div>
    </div>

    <div style="position:relative; top: 526.5px; left: 0px">
      <div style="position: absolute; left: 0px"><HarborTile Harbor="harborSpaces[15]" /></div>
      <div style="position: absolute; left: 203px"><BoardTile Space="boardSpaces[11]" /></div>
      <div style="position: absolute; left: 406px"><BoardTile Space="boardSpaces[1]" /></div>
      <div style="position: absolute; left: 608px"><HarborTile Harbor="harborSpaces[3]" /></div>
    </div>

    <div style="position:relative; top: 585px; left: 101.5px">
      <div style="position: absolute; left: 0px"><HarborTile Harbor="harborSpaces[16]" /></div>
      <div style="position: absolute; left:203px"><BoardTile Space="boardSpaces[0]" /></div>
      <div style="position: absolute; left: 406px"><HarborTile Harbor="harborSpaces[2]" /></div>
    </div>

    <div style="position:relative; top: 643.5px; left: 203px">
      <div style="position: absolute; left: 0px"><HarborTile Harbor="harborSpaces[17]" /></div>
      <div style="position: absolute; left: 203px"><HarborTile Harbor="harborSpaces[1]" /></div>
    </div>

    <div style="position:relative; top: 702px; left: 304.5px">
      <div style="position: absolute; left: 0px"><HarborTile Harbor="harborSpaces[0]" /></div>
    </div>
  </div>

  <div class="legend">
    <h3>Key</h3>
    <div class="legend-grid">
      @foreach (var item in s_legend)
      {
        <div class="legend-item">
          <span class="legend-emoji">@item.Emoji</span>
          <span><strong>@item.Resource</strong> <span class="legend-land">(@item.Land)</span></span>
        </div>
      }
    </div>
    <p class="legend-note"><span class="legend-red">&#9679;</span> Red numbers (6 &amp; 8) are rolled most often; more pips under a number means it comes up more.</p>
    <p class="legend-note">⚓ Harbors: <strong>2:1</strong> trade for the shown resource, <strong>3:1</strong> for any resource (generic).</p>
  </div>

  <div style="position: relative">ID = @boardState.Id</div>
}

@code {
  private BoardState? boardState;
  private BoardSpace[]? boardSpaces;
  private HarborSpace[]? harborSpaces;

  private string? Id;

  private static readonly (string Emoji, string Resource, string Land)[] s_legend = new[]
  {
    ("🪨", "Ore", "Mountain"),
    ("🧱", "Brick", "Hill"),
    ("🌲", "Lumber", "Forest"),
    ("🌾", "Grain", "Field"),
    ("🐑", "Wool", "Pasture"),
    ("🏜️", "Nothing", "Desert"),
  };

  private async Task GetBeginnderLayout()
  {
    await RecalculateAsync(true);
  }

  private async Task GetRandomizedLayout()
  {
    await RecalculateAsync(false);
  }

  private async Task RecalculateAsync(bool getBeginnerLayout = false)
  {
    boardSpaces = null;
    boardState = null;

    // Local testing:
    // var servicePath = "http://localhost:5149/getboard" + (getBeginnerLayout ? "/default" : "");

    var servicePath = "https://catandomizerservice.azurewebsites.net/getboard" + (getBeginnerLayout ? "/default" : "");

    if (Id is not null)
      servicePath += $"/{Id}";

    boardState = await Http.GetFromJsonAsync<BoardState>(servicePath);
    boardSpaces = boardState!.LandSpaces!.Select(x => new BoardSpace(x)).ToArray();
    harborSpaces = boardState!.WaterSpaces!.Select(x => new HarborSpace(x)).ToArray();
  }

  protected override async Task OnInitializedAsync()
  {
    await RecalculateAsync();
  }
}
